<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th class="th_vert">Name:</th>
    <td><%= @recipe.name %></td>
  </tr>

  <tr>
    <th class="th_vert">Category:</th>
    <td><%= @recipe.category.name %></td>
  </tr>

  <tr>
    <th class="th_vert">Description:</th>
    <td><%= @recipe.description %></td>
  </tr>

  <% if @recipe.picture? %>
    <tr>
      <th colspan="2">Picture:</th>
    </tr>
    <tr>
      <td colspan="2"><%= image_tag(@recipe.picture_url, :width => 600) %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', root_path %>
