<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th class="th_vert">Name:</th>
    <td><%= @recipe_presenter.name %></td>
  </tr>

  <tr>
    <th class="th_vert">Category:</th>
    <td><%= @recipe_presenter.category.name %></td>
  </tr>

  <tr>
    <th class="th_vert">Description:</th>
    <td><%= @recipe_presenter.description %></td>
  </tr>

  <tr>
    <th class="th_vert">Preparation time:</th>
    <td><%= @recipe_presenter.time %></td>
  </tr>

  <tr>
    <th class="th_vert">Number of servings:</th>
    <td><%= @recipe_presenter.servings %> </td>
  </tr>

  <tr>
    <th class="th_vert">Ingredients:</th>
    <td>
      <%= content_tag 'ul' do %>
        <% @recipe.ingredients.each do |ingredient| %>
          <%= content_tag 'li', ingredient.name %>
        <% end
      end %>
    </td>
  </tr>

  <% if @recipe_presenter.picture? %>
    <tr>
      <th colspan="2">Picture:</th>
    </tr>
    <tr>
      <td colspan="2"><%= image_tag(@recipe_presenter.picture_url, :width => 600) %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Edit', edit_recipe_path(@recipe_presenter) %> |
<%= link_to 'Back', root_path %>
