<% unless recipes.empty? %>

      <tbody>
        <% recipes.each do |recipe| %>
          <tr>
            <td style="width: 50px;">
              <% if recipe.picture? %>
                 <%= image_tag recipe.picture_url(:thumb), :class => "thumb" %>
              <% else %>
                 <%= image_tag "no_picture.png", :class => "thumb" %>
              <% end %>
            </td>
            <td style="width: 15%"><%= recipe.name %></td>
            <td style="width: 65%"><% if recipe.description? %><%= recipe.description.truncate_words(15) %><% else %><%= "No description available" %><% end %></td>
            <td class="button"><%= link_to recipe do %><span class="glyphicon glyphicon-eye-open"></span><% end %></td>
            <td class="button"><%= link_to edit_recipe_path(recipe) do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
            <td class="button"><%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove-circle"></span><% end %></td>
          </tr>
        <% end %>
      </tbody>

    <% else %>

      <tbody>
        <tr>
          <td style="height: 50px;" colspan="2">Nothing to show.</td>
        </tr>
      </tbody>

<% end %>
