<% recipes.each do |recipe| %>
  <li class="ui-widget-content ui-corner-tr recipe-<%= recipe.id %>">
    <h5 class="ui-widget-header"><%= recipe.name %></h5>
    <% if recipe.picture? %>
       <%= image_tag recipe.picture_url(:big_thumb), :class => "big_thumb" %>
    <% else %>
       <%= image_tag "no_picture_big.png", :class => "big_thumb" %>
    <% end %>
    <div class="ingredients">
      <%= content_tag 'ul' do %>
        <% recipe.ingredients.each do |ingredient| %>
          <%= content_tag 'li', ingredient.name %>
        <% end
      end %>
    </div>
  </li>
<% end %>
