<script>


$( function() {
  $( "#slider" ).slider({
    range: true,
    step: 5,
    min: <%= @minPreparationTime %>,
    max: <%= @maxPreparationTime %>,
    values: [ <%= @minPreparationTime %>, <%= @maxPreparationTime %> ],
    slide: function( event, ui ) {
      // When slider is changed
      // Update label
      $( "#preparation_time" ).val( ui.values[ 0 ] + "min - " + ui.values[ 1 ] + "min");
      // Update hidden fields
      $("#preparation_time_min").val(ui.values[0]);
      $("#preparation_time_max").val(ui.values[1]);
      // Send ajax request
      var data = $(search_form).serializeArray();
      $.ajax({
        type: 'post',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: '/pages/weekplanner/update_results',
        data: data,
        dataType: 'script'
      });
    }
  });

  // Initialize slider
  // Set label
  $( "#preparation_time" ).val( $( "#slider" ).slider( "values", 0 ) +
    "min - " + $( "#slider" ).slider( "values", 1 ) + "min");
  // Set hidden fields
  $("#preparation_time_min").val( $( "#slider" ).slider( "values", 0 ) );
  $("#preparation_time_max").val( $( "#slider" ).slider( "values", 1 ) );

  // Send ajax request when something is typed in the name field
  $('#name').keyup(function () {
    var data = $(search_form).serializeArray();
    $.ajax({
      type: 'post',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: '/pages/weekplanner/update_results',
      data: data,
      dataType: 'script'
    });
  });

  // Send ajax request when a category is selected
  $('#category_id').change(function () {
    var data = $(search_form).serializeArray();
    $.ajax({
      type: 'post',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: '/pages/weekplanner/update_results',
      data: data,
      dataType: 'script'
    });
  });

  // Send ajax request when an ingredient is selected
  $('#ingredient_id').change(function () {
    var data = $(search_form).serializeArray();
    $.ajax({
      type: 'post',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: '/pages/weekplanner/update_results',
      data: data,
      dataType: 'script'
    });
  });

  ///////////////////////////////////////////////////
  // Droppable and draggable                      //
  /////////////////////////////////////////////////

  // There's the gallery and the trash
  var $results = $( "#results" );

  // Let the recipe items be draggable
  $( "li", $results ).draggable({
    cancel: "a.ui-icon", // clicking an icon won't initiate dragging
    revert: "invalid", // when not dropped, the item will revert back to its initial position
    containment: "document",
    //helper: "clone",
    cursor: "move"
  });

  // Let the weekdays be droppable, accepting the recipe items
  $(".weekday").droppable({
    accept: "#results > li",
    classes: {
      "ui-droppable-active": "ui-state-highlight"
    },
    drop: function( event, ui ) {
      window.addRecipe( ui.draggable, $(this) );
    }
  });

} );
</script>

<h1>Week Planner</h1>
<div class="row">
  <div class="col-md-4 shopping_list">
    <h2>Shopping list</h2>
    <%= render partial: 'shared/shopping_list', locals: {ingredients: @shopping_list} %>
  </div>

  <div class="col-md-8 ui-widget ui-helper-clearfix">
    <h2>Week <%= @week %></h2>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3 weekday" id="weekday1" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><%= @days_strings.at(0) %></h4>
      </div>
      <div class="col-md-3 weekday" id="weekday2" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><%= @days_strings.at(1) %></h4>
      </div>
      <div class="col-md-3 weekday" id="weekday3" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><%= @days_strings.at(2) %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 weekday" id="weekday4" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><%= @days_strings.at(3) %></h4>
      </div>
      <div class="col-md-3 weekday" id="weekday5" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><%= @days_strings.at(4) %></h4>
      </div>
      <div class="col-md-3 weekday" id="weekday6" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><%= @days_strings.at(5) %></h4>
      </div>
      <div class="col-md-3 weekday" id="weekday7" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><%= @days_strings.at(6) %></h4>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Filter</h2>
    <%= form_tag("/pages/weekplanner/update_results", remote: true, method: "post", id: "search_form") do %>

      <div class="field">
        <%= label_tag :name %><br/>
        <%= text_field_tag :name, params[:name], class: 'form-control' %>
      </div>
      <div class="field">
        <%= label_tag :category_id %><br>
        <%= select_tag 'category_id', options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), class: 'form-control', multiple: true  %>
      </div>
      <div class="field">
        <%= label_tag :preparation_time %><br>
        <input type="text" id="preparation_time" readonly style="border:0; background: #fff; color:#f6931f; font-weight:bold;">
        <div id="slider"></div>
        <%= hidden_field_tag :preparation_time_min %>
        <%= hidden_field_tag :preparation_time_max %>
      </div>
      <div class="field">
        <%= label_tag :ingredients %><br />
        <%= select_tag 'ingredient_id', options_from_collection_for_select(Ingredient.all, :id, :name, params[:ingredient_id]), class: 'form-control', multiple: true  %>
      </div>

      <div class="actions">
        <%= submit_tag 'Search', class: 'btn' %>
      </div>

    <% end %>
  </div>

  <div class="col-md-8">
    <h2>Search results</h2>

    <div class="results">
      <ul id="results" class="results ui-helper-reset ui-helper-clearfix">
        <%= render partial: 'shared/recipes_list', locals: {recipes: @recipes} %>
      </ul>
    </div>
  </div>

</div>
