<p id="notice"><%= notice %></p>

<% @ideas.group_by(&:category).each do |category, ideas| %>

  <div class="category">
    <table class="table-hover sortable">
        <%= render partial: "shared/category_header", locals: {category: category, empty: false} %>
        <%= render partial: 'shared/ideas_tbody', locals: {ideas: ideas} %>
      </table>
      <hr>
  </div>

<% end %>

<% @empty_categories.each do |category| %>

  <table class="table-hover">
    <%= render partial: "shared/category_header", locals: {category: category, empty: true} %>
    <%= render partial: 'shared/ideas_tbody', locals: {ideas: []} %>
  </table>
  <hr>

<% end %>

<br>

<%= link_to 'New Category', new_category_path %>
