<p id="notice"><%= notice %></p>

<h1>Newest recipes</h1>

<% @recipes.group_by(&:category).each do |category, recipes| %>

  <div class="category">
    <table>
      <%= render partial: 'shared/category_header_big', locals: {category: category} %>
      <%= render partial: 'shared/recipes_tbody_big', locals: {recipes: recipes} %>
    </table>
  </div>

<% end %>

<% @empty_categories.each do |category| %>

  <table class="table-hover">
    <%= render partial: "shared/category_header_big", locals: {category: category} %>
    <%= render partial: 'shared/recipes_tbody', locals: {recipes: []} %>
  </table>

<% end %>
