<p id="notice"><%= notice %></p>

<% @recipes.group_by(&:category).each do |category, recipes| %>

  <div class="category">
    <table class="table-hover sortable">
        <%= render partial: "shared/category_header", locals: {category: category, empty: false, general: false} %>
        <%= render partial: 'shared/recipes_tbody', locals: {recipes: recipes} %>
      </table>
      <hr>
  </div>

<% end %>

<% @empty_categories.each do |category| %>

  <table class="table-hover">
    <%= render partial: "shared/category_header", locals: {category: category, empty: true, general: false} %>
    <%= render partial: 'shared/recipes_tbody', locals: {recipes: []} %>
  </table>
  <hr>

<% end %>

<br>

<%= link_to 'New Category', new_category_path %>
